@import '../../Root/common.scss';

.wrapper {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 360px;
	height: 260px;

	background-color: $second-color;
	border: 2px solid $third-color;
	border-radius: 10px;
	// padding: 20px;
	z-index: 10;
	// background-position: center;
	// background-size: 100%;
	// background-repeat: no-repeat;

	.inside {
		width: 100%;
		height: 100%;
		margin: auto;
		display: flex;
		flex-direction: column;
		// background-color: rgba(0, 0, 0, 0.8);
		background-image: url('../../assets/images/1000039977.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		border-radius: 10px;

		.info {
			position: relative;
			width: 100%;
			height: 100%;
			border-radius: 5px;
			padding: 10px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			// background-color: rgba(0, 0, 0, 0.5);

			h3,
			h2,
			h1 {
				margin-bottom: 20px;
				text-align: center;
				color: white;
			}

			h1 {
				font-size: $l-font-size;
			}

			p {
				color: white;
				text-align: center;
				margin-bottom: 5px;
				font-weight: 700;
				font-size: 14px;
			}

			.sentence {
				margin-top: 30px;
				width: 100%;
				text-align: right;
				font-style: italic;
			}

			.sign1,
			.sign2 {
				width: 100%;
				margin: 10px auto;
				margin-bottom: 0 !important;
				text-align: right;
			}

			.exit {
				position: absolute;
				top: 10px;
				right: 10px;

				button {
					width: 30px;
					height: 30px;
				}
			}

			.look {
				position: absolute;
				bottom: 4%;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}

	@media screen and (orientation: landscape) {
		.inside {
			img {
				width: 100%;
				margin: 0 auto;
			}
		}
	}

	@media screen and (min-width: map-get($breakpoins, sl)) {
		width: 600x;
		height: 390px;
		.inside {
			.info {
				h1 {
					font-size: $x-font-size;
				}
				p {
					font-size: 16px;
				}
			}
		}
	}

	@media screen and (min-width: map-get($breakpoins, xl)) {
		width: 800px;
		height: 600px;

		.inside {
			.info {
				padding: 25px;

				h1 {
					font-size: 36px;
				}
				p {
					font-size: 18px;
					margin-bottom: 20px;
				}
			}
		}
	}
}
